@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: oklch(100 0 0);
  --color-border: oklch(92% 0 0);
  --color-card: oklch(100% 0 0);
  --color-primary: oklch(79.14% 0.2091 151.66);
  --chart-primary: oklch(0.63 0.1363 157.86);
  --chart-secondary: oklch(0.76 0.1782 153.61);
}

:root {
  --vis-color0: green !important;
  --vis-color1: blue !important;
  --vis-color2: red !important;
  --vis-color3: yellow !important;
  --vis-color4: purple !important;

  --vis-tooltip-padding: 0 !important;

  --vis-legend-item-spacing: 0px !important;
  --vis-legend-spacing: 24px !important;

  --vis-timeline-row-even-fill-color: transparent !important;
  --vis-timeline-row-odd-fill-color: transparent !important;
}


@utility heading-2 {
  @apply dark:text-white font-bold;
}

.dark {
  color: white;
  --color-background: oklch(0.205 0 0);
  --color-card: oklch(0.225 0 0);
  --color-border: oklch(0.269 0 0);

  --tooltip-label-color: rgba(255, 255, 255, 0.5);
  --tooltip-value-color: rgba(255, 255, 255, 1);

  --vis-axis-grid-color: rgba(255, 255, 255, 0.1) !important;
  --vis-tooltip-background-color: #121212 !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: rgba(255, 255, 255, 0.5) !important;

  --vis-axis-tick-label-color: rgba(255, 255, 255, 0.5) !important;

  --vis-legend-label-color: rgba(255, 255, 255, 0.75) !important;

  --vis-axis-label-color: rgba(255, 255, 255, 0.5) !important;
  --vis-legend-label-color: rgba(255, 255, 255, 0.5) !important;

  --vis-axis-tick-color: oklch(0.39 0 0) !important;

  /* --vis-axis-grid-line-width: 5px !important; */
  --vis-axis-domain-line-dasharray: 'none' !important;
  --vis-axis-tick-label-weight: 900 !important;

    --vis-timeline-label-color: var(--vis-axis-tick-label-color, red) !important
}
